In [ ]:
# a prog language
# scripting
# high level
# interpreted

# ways of programming  - supported by Py
# scripts
# function
# oops

In [ ]:
a = 10  
b = 12.12

#Data type & Data Structure

#int 
#float
#bool
#str - > string -> s => "hello world" , " " , "", str()
#list - > list  -> l => [] , [1],[11,22,33, s, "Hi", [11,22]] , list()
#tuple - > tuple -> t -> () , (11,22,33), tuple()
#set - > set -> s = {1,2,34}, set()
#dict - > dictionary d = {'a':11, 1: 23} ,dict()

#indexing and slicing
# 0 ,1,2,3,4 ...... len(ds)-1 
# ds[indx]
# ds[start : end]

#loops
#for , while

#operators
# a + b , + - * / //
# =
# == , < , <= , >, >=
# and or not

# a = 10 
# b =20
# c = 30
# a+b+c
# a>10


#conditional statements
# if , else , elif
# if cond1:
# if cond2:
# elif cond:
# else:

In [9]:
L = [10,22,33,44,77]

100 in L

False

In [11]:
L = [10,22,33,44,77]
#search:
if 33 in L:
    print("yes 33")
elif 44 in L:
    print("yeah 44")
else:
    print("No")

yes 33

In [14]:
L[0], L[3], L[len(L)-1]

(10, 44, 77)

In [18]:
L[:] , L[0:3] # start - included , end - excluded (end-1)

([10, 22, 33, 44, 77], [10, 22, 33])

In [20]:
L[-1] , L[-2]

(77, 44)

In [25]:
for i in range(0,10):
    print("I:",i, "ok" , end=" |")

I: 0 ok |I: 1 ok |I: 2 ok |I: 3 ok |I: 4 ok |I: 5 ok |I: 6 ok |I: 7 ok |I: 8 ok |I: 9 ok |

In [63]:
L = [10,22,33,44,77]
for i in range(0,len(L),1):
    print(L[i])
    if i == 2:
        L[i] = L[i]*10

L

10
22
33
44
77

[10, 22, 330, 44, 77]

In [36]:
maxm = L[0]
for i in range(0,len(L)):
    if L[i] > maxm:
        maxm = L[i]
        print("found",i)
        #break
    else:
        print("not maxm",i)
maxm

not maxm 0
found 1
found 2
not maxm 3
not maxm 4

3300

In [39]:
# string
s = "hello world"
s[0], s[len(s)-1], s[0:3], s[: : -1]

('h', 'd', 'hel', 'dlrow olleh')

In [42]:
1 + 1 , 'a'+'b' , [1,2] + [22,33]

(2, 'ab', [1, 2, 22, 33])

In [48]:
1 * 1 , 'a'*3 , [1,2] * 3

(1, 'aaa', [1, 2, 1, 2, 1, 2])

In [49]:
L =[100,200,300,400]
L

[100, 200, 300, 400]

In [50]:
L1 = L
L, L1

([100, 200, 300, 400], [100, 200, 300, 400])

In [51]:
L[0] = 1000
L

[1000, 200, 300, 400]

In [52]:
L1

[1000, 200, 300, 400]

In [53]:
t = (11,22,33)

In [54]:
{11,22,33}

{11, 22, 33}

In [57]:
d = {'Hello':'helli'}
d['Hello'], d.get('Hello')

('helli', 'helli')

In [60]:
d = {'students':['a','b','c'] , 'physics':[30,40,60] }
# conda create -n venv2 python=3.8
# conda activate venv2
# pip install pandas
import pandas as pd
df = pd.DataFrame(d)
df.head()

  students  physics
0        a       30
1        b       40
2        c       60